#root {

  overflow-y: scroll;
  box-sizing: border-box;
}

#StarContainer {
  position: fixed;
  z-index: 1;
  pointer-events: none;
}


body {
  font-size: 13px;
  font-weight: .82rem;
  font-family: 'Cinzel Decorative', serif;

  color: white;

  padding: 0px;
  margin: 0px;

  background: #060a0d;
}

.orb {
  z-index: 0;

  position: fixed;
  pointer-events: none;
  border-radius: 50%;

  filter: blur(90px);
}

.orb:nth-child(1) {
  width: 400px;
  height: 400px;

  left: -80px;
  top: -120px;

  background-color: rgba(126, 200, 227, .05);
}

.orb:nth-child(2) {
  width: 280px;
  height: 280px;

  right: 80px;
  top: 800px;

  background-color: rgba(80, 30, 130, .07);
}

.orb:nth-child(3) {
  width: 800px;
  height: 800px;

  left: 700px;
  top: 300px;

  background-color: rgba(60, 20, 100, .02);
}

.ModalContainer {
  position: fixed;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 25;
  background-color: #060a0d42;
  backdrop-filter: blur(8px);

  display: flex;
  justify-content: center;
  align-items: center;
}