.Home_LinkCard {
    position: relative;
    background-color: red;
    height: 80px;

    border: 1px solid rgba(126, 200, 227, 0.15);
    border-radius: 8px;
    background-color: #0b1218;

    display: flex;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
    color: inherit;

    transition: all .22s;
    overflow: hidden;
}

.Home_LinkCard:before {
    position: absolute;
    content: '';

    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;

    background-color: var(--link-colour, red);
}

.Home_LinkCard:hover {
    transform: translateX(4px);
    border-color: rgba(126, 200, 227, 0.15);
    background-color: #1c2530;
}

.Home_LinkCard a {
    padding: 25px;
    font-size: 16px;
}