#root {

    overflow-y: scroll;
    box-sizing: border-box;
}

#StarContainer {
    position: fixed;
    z-index: 10;
    pointer-events: none;
}


body {
    font-size: 13px;
    font-weight: .82rem;
    font-family: 'Cinzel Decorative', serif;

    color: white;

    padding: 0px;
    margin: 0px;

    background: #0a0a12;
}

.ModalContainer {
    position: fixed;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 25;
    background-color: #060a0d42;
    backdrop-filter: blur(8px);
}