services:
  api:
    image: "${API_IMAGE}"
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5000:8080"
    depends_on:
      - database

  frontend:
    image: "${FRONTEND_IMAGE}"
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"

  database:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: UPDATEME!
      POSTGRES_DB: portfolio_db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql
