.admin_Project_Screenshots_Preview {
    width: calc(100vw * .6);
    margin: auto;
}

.admin_Project_Screenshots_Table {
    width: 100%;
}

.admin_Project_Screenshots_Table input {
    width: 100%;
}